POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
POSTGRES_USER={{ cookiecutter.app_path.replace('-', '_') }}_user
POSTGRES_PASSWORD={{ cookiecutter.app_path.replace('-', '_') }}_password
POSTGRES_DB={{ cookiecutter.app_path.replace('-', '_') }}
POSTGRES_SERVER=postgres
REDIS_PASSWORD=redis
