name: Build-Release
on:
  push:
    tags:
      - 'v*'

jobs:
  Build-Docker-Images-Release:
    uses: cap-dcwiz/reusable-workflows/.github/workflows/release_build-release.yml@main
    with:
      image-name: "{{ cookiecutter.__image_name }}"
      version-source: pyproject.toml
      platforms: linux/amd64,linux/arm64
      push-latest: true
    secrets:
      REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}